<main class="container">
    <div class="row">
        <div class="bg-box">
            <h2 class="heading1">Group Chief Marketing Officer</h2>
        </div>
    </div>

    <div class="board-members">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="https://destina1.com/images/DATO-THIWA.jpg" width="100%" class="lazyload">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;">Thiwakaran Muagan</h3>
                <p style="text-align: center;margin-bottom: 35px;">Group Chief Marketing Officer</p>
                <!--<a href="#" class="hvr-grow" style="margin: 20px 0; text-align: center;display: block; margin-bottom: 35px;"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a>-->
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" data-fancybox="video-gallery"><img src="	https://destina1.com/images/g.jpg" class="lazyload"></a>
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s"  class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Group Chief Marketing Officer</h3>
                    <h3 class="heading3" style="box-shadow: none; padding:10px 0;  background:none;">A New Dawn in Health and Prosperity with Destina1 International</h3> 
                    <p>Welcome to Destina1 International, where innovation meets purpose, transforming lives across the globe. As a proud member of the D1 Global Holdings Group of Companies, we stand at the forefront of a health revolution fueled by our exclusive Uniwave by Quantes Technology—the only technology in the world designed to rejuvenate and energize human cells on a molecular level. This pioneering approach is not just about overcoming health challenges; it's about redefining the essence of well-being, enabling every individual to achieve optimal health and unlock their full potential. </p>
                    <p>But our vision extends beyond individual wellness. At Destina1 International, we champion a social entrepreneurship business model that empowers individuals to dream and achieve. From transforming an average person into a successful entrepreneur to fostering financial freedom, we create a movement. A movement that doesn't just aim for success but thrives on the success of others, generating a cycle of prosperity and wellness that benefits everyone.</p>
                    <p>Our diverse interests in healthcare, information technology, manufacturing, food and beverage, e-commerce, and jewelry, under the umbrella of D1 Global Holdings, provide us with a unique perspective and capability to innovate solutions that impact lives positively. We are more than a company; we are a global community dedicated to making a difference. </p>
                    <p>Join us as we embark on this health, wealth, and transformation journey. With Uniwave by Quantes Technology and our holistic approach to social entrepreneurship, we are not just changing lives but shaping the future. At Destina1 International, we believe in a world where everyone can live their healthiest life and achieve their dreams. Together, let's turn this vision into reality. </p>
                    <h3 class="heading3">Embrace the Future with Destina1 International—Where Health Meets Opportunity.</h3>
                </div>
            </div>
        </div>
    </div>
</main>
