.lazyload{
    width: 100%;
}
.checkout-wrapper .heading1 {
    font-size: 28px;
    font-weight: 700;
}
.heading1 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 900;
}
.checkout .left-blk .bg-box {
    background: #f7f7f7;
    padding: 20px 20px;
    border-radius: 10px;
}

.next-block.method {
    padding-top: 25px;
}

.checkout .next-block {
    border-top: 1px solid #b5b5b5;
    margin-top: 25px;
}

.checkout .colored-blk {
    margin-bottom: 15px;
}

.checkout-wrapper .colored-blk {
    background: #f7f7f7;
    padding: 30px 25px;
    border-radius: 10px;
}
.prod .top-image {
    padding: 20px 20px 5px;
}
.prod .mid-content {
    padding: 0 20px;
    border-bottom: 1px solid #e4e4e4;
}
.prod .mid-content h6 {
    margin: 10px 0;
}

.heading4 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
}
.prod .mid-content .cost p {
    font-size: 14px;
}
.checkout-wrapper .right-blk ul li {
    padding: 15px 0;
    border-bottom: 1px solid #2c2c2c33;
}
.prod .mid-content {
    padding: 0 20px;
    border-bottom: 1px solid #e4e4e4;
    color: black;
}
.prod .mid-content ul {
    display: inline-block;
}
.prod .mid-content ul li {
    display: inline-block;
}
.prod .mid-content h6 {
    margin: 10px 0;
}

.heading4 {
    font-size: 16px;
    margin: 10px 0;
    font-weight: 600;
}
.heading3 {
    font-size: 16px;
    margin-top: 25px;
    font-weight: 600;
}
.prod {
    border: 1px solid #e4e4e4;
    margin-bottom: 25px;
}
.prod .btn-content {
    padding: 20px 5px;
}
.prod .btn-content .btn-black {
    display: block;
    text-align: center;
    cursor: pointer;
    border-radius: 25px;
    padding: 8px;
    font-weight: 600;
}
.btn-black {
    background: #2c2c2c;
    color: #fff;
    border: 2px solid #2c2c2c;
    transition: 0.5s ease-in;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 32px;
}
.checkout-wrapper .minus, .checkout-wrapper .plus {
    padding: 2px 15px 2px 15px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}
.checkout-wrapper input {
    width: 52px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    display: inline-block;
    vertical-align: middle;
}
.checkout-wrapper .number span {
    cursor: pointer;
}
.checkout-wrapper .minus, .checkout-wrapper .plus {
    padding: 2px 15px 2px 15px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}
.checkout .bg-box h4 {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 20px;
}
.checkout-wrapper .left-blk h4 {
    font-size: 18px;
    font-weight: 600;
}