<main class="container">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/helpcenter">Help Center</a></li>
        <li class="breadcrumb-item active" aria-current="page">Shipping & Delivery</li>
      </ol>
    </nav>
  </div>

  <div class="package-content">
    <h2 class="heading1">SHIPPING & DELIVERY</h2>
  </div>

  <div class="banner">
    <div class="container">
      <div class="row">
        <img src="https://destina1.com/images/shipping-delivery.png" class="img-b lazyload" alt="Shipping Delivery">
        <img src="assets/images/mini-shipping-delivery.png" class="img-n lazyload" alt="Shipping Delivery Mobile">
      </div>
    </div>
  </div>

  <div class="topic-content">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="heading3" id="tracking-orders" style="color: #022f60;">10. DELIVERY OF PRODUCT/S</h3>
        <p>10.1 We will deliver the product/s...</p>
        <p class="dashed">10.2 Delivery will be made as soon as possible...</p>
        <p class="dashed">10.3 In the event that the first attempt at delivery fails...</p>
        <p class="dashed">10.4 Once your product is classed as undeliverable...</p>
        <p class="dashed">10.5 In the event that you cannot be contacted within ninety (90) days...</p>
        <p class="dashed">10.6 You will become the owner of the product/s...</p>
        <p class="dashed">10.7 If the product/s you ordered are unavailable...</p>
        <p class="dashed">10.8 If the product/s you order is/are not goods...</p>
      </div>
    </div>
  </div>
</main>

