<!-- <div class="package-content">
    <h2 class="heading1">Testimonials</h2>
  </div>
<div class="banner">
  <div class="container">
    <div class="row">
      <img src="assets/images/testimony.jpeg">
      <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
        <h2 style="font-size: 35px;">MY DESTINA1 INTERNATIONAL STORY</h2>
      </div>
    </div>
  </div>
</div>
<p class="text-center" style="margin-top: 20px;">Extra income, flexibility, achievement – the reasons why many Distributors start Destina1 business.</p>
<section class="testimonials-main">
 <div class="row">
   <div class="col-md-4 col-sm-6">
     <div class="image-block">
       <img src="assets/images/0.jpg">
       <div class="content-block">
         <a href="#full-of-energy" class="heading3">full of energy<i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></i></a>
       </div>
     </div>

   </div>
   <div class="col-md-4 col-sm-6">
     <div class="image-block">
       <img src="assets/images/10.jpg">
       <div class="content-block">
         <a href="#army-vateran" class="heading3">Testimony by US Army War Veteran<i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></i></a>
       </div>
     </div>
   </div>
   <div class="col-md-4 col-sm-6">
     <div class="image-block">
       <img src="assets/images/5.jpg">
       <div class="content-block">
         <a href="#fibroid" class="heading3">Madam Thilaga's fibroid testimony 
            <div class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></div>
        </a>
       </div>
     </div>
   </div>
   <div class="col-md-4 col-sm-6">
     <div class="image-block">
       <img src="assets/images/6.jpg">
       <div class="content-block">
         <a href="#tan" class="heading3">Mr.Tan's colon cancer testimony<i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></i></a>
       </div>
     </div>

   </div>
   <div class="col-md-4 col-sm-6">
     <div class="image-block">
       <img src="assets/images/11.jpg">
       <div class="content-block">
         <a href="#stroke" class="heading3">Amazing Stroke Testimony<i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></i></a>
       </div>
     </div>
   </div>
   <div class="col-md-4 col-sm-6">
     <div class="image-block">
       <img src="assets/images/15.jpg">
       <div class="content-block">
         <a href="#heartproblems" class="heading3">Great Relieve from Stroke and Heart Problems<i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></i></a>
       </div>
     </div>
   </div>
 </div>
</section> 
 -->

<div class="container">
  <div class="package-content">
    <h2 class="heading1">Testimonials</h2>
  </div>

  <div class="banner mb-4">
    <div class="container">
      <div class="row">
        <img
          src="https://destina1.com/images/mini-testimony.png"
          alt="Testimony"
        />
        <div
          class="banner-content"
          style="left: 0; text-align: left; padding-left: 60px; width: 60%"
        >
          <h2 style="font-size: 35px">MY DESTINA1 INTERNATIONAL STORY</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- <p class="text-center" style="margin-top: 20px;">
    Extra income, flexibility, achievement – the reasons why many Distributors start Destina1 business.
  </p> -->

  @for (item of test(); track $index) {
  <div class="row">
    <div class="col-md-6">
      <div class="position-relative d-inline-block">
        <img [src]="item.videoImg" class="img-fluid" alt="Background" />

        <img
          src="assets/imgs/play-video-icon.png"
          class="position-absolute top-50 start-50 translate-middle"
          alt="Overlay"
          style="width: 50px"
        />
      </div>
    </div>

    <div class="col-md-6" [innerHTML]="item.descr"></div>
  </div>
  <hr />
  }

  <h2 class="text-center">STILL HAVE QUESTIONS?</h2>
  <p class="text-center mt-2">Common questions. Straightforward answers.</p>
  <div class="text-center my-2">
    <button class="align-center btn btn-outline-primary fw-bold">See Our FAQ's</button>
  </div>
</div>

<!-- <section class="testimonials-main">
    <div class="row">
      <div class="col-md-4 col-sm-6" *ngFor="let item of testimonials">
        <div class="image-block">
          <img [src]="item.image" [alt]="item.title">
          <div class="content-block">
            <a [href]="item.link" class="heading3">
              {{ item.title }}
              <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c; padding-left: 5px;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
<!-- <section class="two-boxes" id="full-of-energy">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box center-content">
          <div class="t-right">
            <a href="https://www.youtube.com/watch?v=glyN9mcNMpk" target="_blank">
              <img src="assets/images/0.jpg" width="100%" alt="Full of energy">
            </a>
            <a href="https://www.youtube.com/watch?v=glyN9mcNMpk" target="_blank" class="video"></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading2">At 78 years old I am still active and with full of energy</h2>
          <p>
            Hai, I am basically a retired teacher. I am 78 years old. Yet I am still teaching some kids by doing home tuition.
            As we have all know that the teaching profession needs a lot of energy and strength. I frequently get tired and I
            felt the pain is passing through out my body. Additionally, I have very bad knee pain. After I started to wear the
            Destina 1 International Advance Scalar Energy Pendant and drink the Advance Scalar Energized Alkaline Flask water,
            a 360 degrees of transformation has happened in my body and in my general health. I had a lot of minor health problems,
            but since I started to use D1 products all the problems started to solve one by one. It is amazing. I am 78 years old
            women now I can walk faster like young ladies. Trust me this is really a magical and wonderful product. Thank you to
            Destina 1 and also Advance Scalar Energy
          </p>
          <span>- Destinatest4</span>
        </div>
      </div>
    </div>
  </section> -->
<!-- <section class="two-boxes" id="army-vateran">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box center-content">
          <div class="t-right">
            <a href="https://www.youtube.com/watch?v=YNcgClMVTPo" target="_blank">
              <img src="assets/images/10.jpg" width="100%" alt="Army Veteran Testimony">
            </a>
            <a href="https://www.youtube.com/watch?v=YNcgClMVTPo" target="_blank" class="video"></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading2">Testimony by US Army War Veteran</h2>
          <p>
            I am a former US Army Veteran who served the US Military Services for more than 20 years.
            During my tenure, I participated in multiple wars. As we all know, war challenges physical health,
            and the weapons used can impact our internal health. I endured both. I had multiple health problems
            and underwent numerous surgeries. Mr. Donn introduced me to Advance Scalar Energy Technology.
            Without hesitation, I bought and used the products. I experienced major improvements in my health,
            relieving many problems I had been facing for years. My doctors were shocked by the results.
            Now I’m enjoying all the health benefits of D1 products. Thank you to D1 products.
          </p>
          <span>- US ARMY VETERAN</span>
        </div>
      </div>
    </div>
  </section> -->

<!-- FIBROID -->
<!-- <section class="two-boxes" id="fibroid">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box center-content">
          <div class="t-right">
            <a href="https://www.youtube.com/watch?v=TR3Yn7aJsrc" target="_blank">
              <img src="assets/images/5.jpg" width="100%" alt="Fibroid Testimony">
            </a>
            <a href="https://www.youtube.com/watch?v=TR3Yn7aJsrc" target="_blank" class="video"></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading2">Madam Thilaga's fibroid testimony</h2>
          <p>
            I had a fibroid size of 6cm for almost 2 to 3 years... [truncated for brevity]
          </p>
          <span>- Thilaga</span>
        </div>
      </div>
    </div>
  </section> -->

<!-- COLON CANCER -->
<!-- <section class="two-boxes" id="tan">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box center-content">
          <div class="t-right">
            <a href="https://www.youtube.com/watch?v=EpQ4tojMiL4" target="_blank">
              <img src="assets/images/6.jpg" width="100%" alt="Colon Cancer Testimony">
            </a>
            <a href="https://www.youtube.com/watch?v=EpQ4tojMiL4" target="_blank" class="video"></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading2">Mr.Tan's colon cancer testimony</h2>
          <p>
            Today I’m free of CEA and my blood glucose level dropped drastically... [truncated for brevity]
          </p>
          <span>- Mr.Tan</span>
        </div>
      </div>
    </div>
  </section> -->

<!-- STROKE -->
<!-- <section class="two-boxes" id="stroke">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box center-content">
          <div class="t-right">
            <a href="https://www.youtube.com/watch?v=4vLc19FYfc8" target="_blank">
              <img src="assets/images/11.jpg" width="100%" alt="Stroke Testimony">
            </a>
            <a href="https://www.youtube.com/watch?v=4vLc19FYfc8" target="_blank" class="video"></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading2">Amazing Stroke Testimony</h2>
          <p>Another amazing testimonial... [truncated]</p>
          <span>- Team D1 USA</span>
        </div>
      </div>
    </div>
  </section> -->

<!-- HEART PROBLEMS -->
<!-- <section class="two-boxes" id="heartproblems">
    <div class="row">
      <div class="col-md-6">
        <div class="img-box center-content">
          <div class="t-right">
            <a href="https://www.youtube.com/watch?v=VQUXlyDlZU8" target="_blank">
              <img src="assets/images/15.jpg" width="100%" alt="Heart Problem Testimony">
            </a>
            <a href="https://www.youtube.com/watch?v=VQUXlyDlZU8" target="_blank" class="video"></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading2">Great Relieve from Stroke and Heart Problems</h2>
          <p>I was in Hospital at Intensive Care Unit... [truncated]</p>
          <span>- Ted</span>
        </div>
      </div>
    </div>
  </section> -->

<!-- FAQ SECTION -->
<!-- <section class="start-earning">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading1">
            STILL HAVE QUESTIONS?
            <span style="display: block; color: #2c2c2c; font-size: 16px; font-weight: 400; margin-top:10px;">
              Common questions. Straightforward answers.
            </span>
          </h2>
        </div>
        <div class="col-sm-12">
          <a href="#" class="btn-black-radius">See Our FAQ's</a>
        </div>
      </div>
    </div>
  </section>
  <section class="contact-blks">
    <div class="container-fluid">
      <div class="row">
      <div class="col-sm-4 no-gap">
        <i class="far fa-comment-dots"></i>
        <h3 class="heading2">Contact Us</h3>
        <p>Our support team is here to help by phone or email.</p>
        <a href="#" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
      </div>
      <div class="col-sm-4 no-gap">
        <i class="far fa-handshake"></i>
        <h3 class="heading2">D1PROMISE</h3>
        <p>Satisfaction will always be our goal, and protection—our promise.</p>
        <a href="#" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
      </div>
      <div class="col-sm-4 no-gap">
        <i class="fas fa-rocket"></i>
        <h3 class="heading2">Start a Business</h3>
        <p>Sell quality products that people use every day.</p>
        <a href="#" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
      </div>
    </div>
  </div>
  </section>
   -->
