<div class="container">
  <div class="package-content">
    <h2 class="heading1">Testimonials</h2>
  </div>

  <div class="banner mb-4">
    <div class="container">
      <div class="row">
        <img src="https://destina1.com/images/mini-testimony.png" alt="Testimony" />
        <div class="banner-content" style="left: 0; text-align: left; padding-left: 60px; width: 60%">
          <h2 style="font-size: 35px">MY DESTINA1 INTERNATIONAL STORY</h2>
        </div>
      </div>
    </div>
  </div>

  @for (item of test(); track $index) {
  <div class="row">
    <div class="col-md-6">
      <div class="position-relative d-inline-block">
        <img [src]="item.videoImg" class="img-fluid" alt="Background" />

        <img src="assets/imgs/play-video-icon.png" class="position-absolute top-50 start-50 translate-middle"
          alt="Overlay" style="width: 50px" />
      </div>
    </div>

    <div class="col-md-6" [innerHTML]="item.descr"></div>
  </div>
  <hr />
  }

  <h2 class="text-center">STILL HAVE QUESTIONS?</h2>
  <p class="text-center mt-2">Common questions. Straightforward answers.</p>
  <div class="text-center my-2">
    <button class="align-center btn btn-outline-primary fw-bold">See Our FAQ's</button>
  </div>
</div>