<main class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About Destina1 International</li>
        </ol>
      </nav>
    </div>
  
    <div class="package-content">
      <h2 class="heading1">ABOUT DESTINA1 INTERNATIONAL</h2>
    </div>
  
    <div class="banner">
      <div class="container">
        <div class="row">
          <img src="assets/images/about-banner.png">
          <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
            <h2 style="font-size: 35px;">EMPOWERING PEOPLE TO LIVE THEIR BEST</h2>
            <h6 style="font-weight: 400;line-height:25px;">Millions of Destina1 Independent Business Owners and more than 15,000 employees worldwide contribute to our mission of helping people live better, healthier lives.</h6>
          </div>
        </div>
      </div>
    </div>
  
    <section class="two-boxes">
      <div class="row">
        <div class="col-md-6 add-bor">
          <div class="img-box center-content">
            <img src="assets/images/large-destina-ofc.jpg">
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-box center-content" style="padding-left: 50px;">
            <h2 class="heading1">DESTINA1 BUSINESS</h2>
            <p>Destina1 is the world’s largest direct selling company* ($8.9B reported sales, 2022)...</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 add-bor">
          <div class="content-box center-content" style="padding-right: 50px;">
            <h2 class="heading1">INVESTING IN PRODUCT INNOVATION</h2>
            <p>Destina1 holds more than 200 patents. In the past seven years, we have invested $335M in new manufacturing and R&D facilities...</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box center-content">
            <img src="assets/images/product-renovation.jpeg">
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-6 add-bor">
          <div class="img-box center-content">
            <img src="assets/images/pexels-photo-2312369.jpeg">
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-box center-content" style="padding-left: 50px;">
            <h2 class="heading1">DESTINA1 INSIDER</h2>
            <p>Read news, stories, answers to questions, and facts about Destina1.</p>
            <a href="#">LEARN MORE <i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
          </div>
        </div>
      </div>
    </section>
  
    <div class="banner" style="margin: 40px 0;">
      <div class="container">
        <div class="row">
          <img src="assets/images/newsletter.jpeg">
          <div class="banner-content">
            <h2>DESTINA1 NEWSROOM</h2>
            <p>Read the latest news from Destina1, and see what others are saying about our business.</p>
            <a class="btn-black-radius" href="#" target="_blank" style="background: #2c2c2c; color: #fff; margin: 15px 0 15px auto; width: 180px;">READ NOW<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
          </div>
        </div>
      </div>
    </div>
  
    <section class="two-boxes">
      <div class="row">
        <div class="col-md-6 add-bor">
          <div class="img-box center-content">
            <img src="assets/images/life-at-d1.jpg">
          </div>
        </div>
        <div class="col-md-6">
          <div class="content-box center-content" style="padding-left: 50px;">
            <h2 class="heading1">LIFE AT DESTINA1</h2>
            <p>Work with truly exceptional people... people-focused culture.</p>
            <a href="#">FIND YOUR DESTINA1 CAREER<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
          </div>
        </div>
      </div>
    </section>
  
    <section class="two-boxes">
      <div class="row">
        <div class="col-md-6 add-bor">
          <div class="content-box center-content" style="padding-right: 50px;">
            <h2 class="heading1">FAMILY-OWNED BUSINESS</h2>
            <p>Destina1 International Founder President & CEO... provide a better life for you and your family.</p>
            <a href="#">SEE OUR HISTORY <i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box center-content">
            <img src="assets/images/about-1.jpg">
          </div>
        </div>
      </div>
    </section>
  
    <section class="start-earning">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="heading1">STILL HAVE QUESTIONS?<span style="display: block; color: #2c2c2c; font-size: 16px; font-weight: 400; margin-top:10px;">Common questions. Straightforward answers.</span></h2>
          </div>
          <div class="col-md-12">
            <a href="#" class="btn-black-radius">See Our FAQ's</a>
          </div>
        </div>
      </div>
    </section>
    
  </main>
