<main class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="bg-box">
            <h2 class="heading1">Chief Business Development Officer</h2>
        </div>
    </div>

    <!-- <div class="board-members" style="border-bottom: 1px solid #eee; padding-bottom: 20px;">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="assets/images/20204602094609815503.jpg" width="100%">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;">Dato' Sri Hondo Dacumos</h3>
                <p style="text-align: center;">D1 Executive</p>
                <a href="#" style="margin: 20px 0; text-align: center;display: block; margin-bottom: 35px;"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a>
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="blank"><img src="images/g.jpg"></a>
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="new" class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Chief Strategy Officer of USA</h3>
                    <p>Destina1 International has two important aspects: the first is its remarkable health technology, Advance Scalar Energy, and the second is its Social Entrepreneurship platform.  The marrying of the two is what makes Destina 1 International an attractive company to be a part of. </p>

                    <p>Advance Scalar Energy is a natural energy that is in tune with your  body. It is a unique and patented technology that in a nutshell optimizes yourbody at the cell level.  Destina 1 International’s products, that has been embedded with this technology, has helped countless people with improving their health, even saving their lives.  If you look at the testimonials on the company’s website, you will be amazed at the results.  There is nothing else like it!</p>
                    <p>Social Entrepreneurship is a business platform where you are doing good for others. It is human nature to want to help others.  By sharing about the Destina 1 International’s health technology, not only are you helping people with their health and well-being, you are also earning from it as well, and the earnings potential can be tremendous.  Those you share it to in turn can do the same.  That is the foundation of Destina 1 International’s Social Entrepreneurship platform.  Not only are we saving people’s lives, but we are also changing their lives.  It is a simple but very powerful concept!</p>
                    <p style="text-align: center;transform: skewX(13deg);font-weight: 500; margin: 30px 0 60px !important;"><i class="fa-solid fa-quote-left" style="padding-right: 10px"></i>Not only are we saving people’s lives, but we are also changing their lives.<i class="fa-solid fa-quote-right" style="padding-left: 10px"></i></p>
                    <p>To those who are new to Destina 1 International, I encourage you to find out more about the company, become better educated on the health and wealth opportunity available with Destina 1 International.</p>
                    <p>To the members of Destina 1 International, I am honored and privileged to be of service to help you achieve your goals and dreams.  It’s about T.E.A.M. … Together Everyone Achieves More!  </p>
                    <h3 class="heading3">Dato’ Sri Hondo Dacumos</h3>
                </div>
            </div>
        </div>
    </div> -->

    <div class="board-members">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="	https://destina1.com/images/20200628010608920359.jpg" width="100%">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;"> Dr. Dev
Group Business Development Officer</h3>
                <p style="text-align: center;">Master Coach Prof.</p>
                <!-- <a href="#" style="margin: 20px 0; text-align: center;display: block; margin-bottom: 35px;"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a> -->
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="blank"><img src="https://destina1.com/images/g.jpg"></a>
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="new" class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Chief Business Officer</h3>
                    <p>Life is a journey.  The journey that we take with our family, love ones and friends to achieve our quest.</p>

                    <p>A quest for a great cause and it is something we deeply believe in and desire.  The desire to achieve our quest is the force to keep us on track in our journey.  The Chinese proverb said, “A journey of a thousand miles begins with a single step”.  It takes thoughtful planning, preparation, trials and errors, supports, courage and perseverance to get through it.  We can be rewarded with success and achievement but also can get frustrated, feel agonized and painful throughout the journey.  When you are committed in the journey, you will have great pleasure harvesting the fruits of labor at the end.  Let’s take this journey of health and wealth together.</p>
                    <p>We spend so much time and money to maintain good health.  We eat healthy, join a gym to exercise, and pay attention to do all the preventative measures by getting vaccinated and go through regular health checkup.  Then we spend thousands, or even millions of dollars when we get sick.  We look for alternatives to stay healthy.  Look no further. Destina 1 International's technology has saved so many people’s lives. Look at all the published remarkable testimonies.  We already have users in over eighty countries and we plan to expand in thirty more.  D1 has received many international awards for their Advance Scalar Energy technology in a very short period of time, a remarkable achievement.  Our journey to stay healthy in order for us to enjoy our lives in the presence of our loved ones.   </p>

                    <p>The next quest is to use D1 Social Entrepreneurship platform to achieve our financial goal; to have the financial freedom for our family and support a worthy cause to build a better world.  Destina 1 Headquarters and Destina 1 leaders have helped many people to achieve their goals. This quest to success is not easy. Destina 1 leaders provide the training to develop our skills and enhance our knowledge.  Practice makes perfect. Never stop “doing” and always keep a winner, never give up attitude.  “Accomplishments will prove to be a journey, not a destination” – Dwight D. Eisenhower.  There is an old saying, “How do you travel one thousand miles?  One mile at a time.” </p>

                    <h3 class="heading3">Start your journey.  Take the challenge.</h3>
                    <h3 class="heading3">Destina 1, World No 1.</h3>
                    <h3 class="heading3">Dato' Sri Deceno Dacumos</h3>
                </div>
            </div>
        </div>
    </div>
</main>
