<main class="container">
    <div class="row">
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Events</li>
            </ol>
          </nav>
            </div>
            <div class="package-content">
              <h2 class="heading1">Events</h2>
            </div>
          <div class="banner">
            <div class="container">
              <div class="row">
                <img src="assets/images/parachute.jpeg">
                <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
                  <h2 style="font-size: 35px;">REWARDING EXPERIENCES</h2>
                  <h6 style="font-weight: 400;line-height:normal">Experience unforgettable events as an Destina1 Independent Business Owner. Be in business for yourself, but never by yourself.</h6>
                  <a href="#" target="blank" style=" color: #fff; margin: 15px auto 15px 0;">Get Started<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
                </div>
              </div>
            </div>
          </div>
          <section class="awards-sec" style="padding-top: 80px">
 <div class="container">
   <div class="row">
     <h2 class="heading1" style="margin: 0 auto 10px;">EVENTS</h2>
     <p style="width: 100%; text-align: center; margin-bottom: 30px;">Events to recognize our business achievements.</p>
   </div>
   <div class="row">
     <div class="owl-carousel owl-theme owl-loaded owl-drag">
<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2986px, 0px, 0px); transition: all 0.25s ease 0s; width: 8587px;"><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20213013053009520146.jpg">
                            <h3 class="heading2">Powerpack D1DB by D1 Southern Team &amp; D1 KL</h3>
                            <p>Destina 1 Southern team &amp; Destina 1 KL Power Team have organised D1DB at Kajang on 12th January 2021 which is heir f. . .
</p>
                            <a href="powerpack.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20203106073159627955.jpeg">
                            <h3 class="heading2">D1DB Kajang on 27th July 2020</h3>
                            <p>Destina 1 Southern team have organised D1DB at Kajang on 29th July 2020. The support was overwhelming. . .</p>
                            <a href="D1DB.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20201506061539073057.jpeg">
                            <h3 class="heading2">D1DB  Kajang on 4th August 2020</h3>
                            <p>Destina 1 Southern team have organised D1DB at Kajang on 4th August 2020. The support was overwhelming. . .
</p>
                            <a href="D1DB@Kajang.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20191114031138210303.jpg">
                            <h3 class="heading2">Destina 1 International Christmas Open House</h3>
                            <p>On Thursday, 13th December 2019 Destina 1 International hosted Christmas Open House from 6:00 pm to 10:30 pm. About 50 g. . .</p>
                            <a href="christmas-openhouse.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20193810113841311625.jpg">
                            <h3 class="heading2">First Destina 1 International D1DB  Mindoro, Philippines</h3>
                            <p>First Destina 1 International D1DB  Mindoro, Philippines Saturday, December 7th, 2019 Our first official big even. . .</p>
                            <a href="d1db-mindora.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
 <div class="news-blks">
                            <img src="assets/images/20203106073159627955.jpeg">
                            <h3 class="heading2">D1DB  Kajang on 27th July 2020</h3>
                            <p>Destina 1 Southern team have organised D1DB at Kajang on 29th July 2020. The support was overwhelming. . .</p>
                            <a href="D1DB.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20193203093208546647.jpg">
                            <h3 class="heading2">Dato Seri Dr. Baraani Karunakaran was awarded the Lifetime Achievement Award for ASEAN Leadership</h3>
                            <p>Another proud moment for the Destina 1 family. During the ASEAN Youth Leadership Summit in Manila recently, our CEO Dato. . .</p>
                            <a href="asean-leadership-award.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20195130055158725848.jpg">
                            <h3 class="heading2">Destina 1 International participated in ASEAN-Russia Youth Summit</h3>
                            <p>Another significant milestone achieved by Destina1International. Its a great honor to be invited to address the particip. . .</p>
                            <a href="russia-youth-summit.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20194630054647271128.jpg">
                            <h3 class="heading2">Destina 1 International part of the ASEAN Youth Leadership Summit in Philippines</h3>
                            <p>Its a great privilege for Destina1 International to be part of the ASEAN Youth Leadership Summit conference in Mani. . .</p>
                            <a href="summit-in-philippines.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
  <div class="news-blks">
                            <img src="assets/images/20195014035024853540.jpg">
                            <h3 class="heading2">Destina 1 International World Headquarters Grand Inauguration &amp; Destina 1 Food Bank Program</h3>
                            <p>Destina 1 International achieved another milestone with the successful launching of its World Headquarters and also the . . .</p>
                            <a href="headquarters-grand-inauguration.html" class="btn-black-radius">Read Full Article</a>
                          </div>
</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
   </div>
 </div>
</section>
          
   <div class="banner b2">
            <div class="container">
              <div class="row">
                <img src="assets/images/barani-sir2.png">
                <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 100%; top:100px;">
                  <h2 style="font-size: 24px;line-height: 30px;"><i class="fa-solid fa-quote-left" style="padding-right: 15px; position: relative; top: -8px;"></i>Everybody here earned their way with hard work, determination, and focus on the fundamentals.<i class="fa-solid fa-quote-right" style="padding-left: 15px;position: relative; top: -8px;"></i></h2>
                  <h6 style="font-weight: 300;">- PROF. DATO' SRI DR. BARANI KARUNAKARAN -
Founder Group Executive Chairman &amp; Group CEO </h6>
                </div>
              </div>
            </div>
          </div>       
         
  <div class="paragraph-note">
    <div class="container">
      <div class="row">
        <p>IBOs must be in compliance at all times with the Destina1 IBO Compensation Plan, Quality Assurance Standards and the IBO Rules of Conduct to keep their invitation to Amway incentive trips.</p>
        <ul>
          <li>For the calendar year 2021, the average income from Destina1 for all U.S. registered IBOs at the Founders Platinum level and below was $766 before expenses.</li>
          <li>See destina1.com/income-disclosure for details. Earnings depend on many factors, including: customer base, business experience, effort, dedication, and quality and performance of an IBO’s sales team.</li>
          <li>Following are the approximate percentages of U.S. registered IBOs who achieved the illustrated results in the calendar year 2021: New Platinum Conference 0.0642%; Achievers Invitational 0.5107%; Diamond Club 0.0271%; Diamond Select 0.0123%; NAGC 0.0086%</li>
        </ul>
      </div>
    </div>
  </div>        
  </main>
