<main class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="bg-box">
            <h2 class="heading1">Group Business Development Officer</h2>
        </div>
    </div>


    <div class="board-members">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="https://destina1.com/images/20204602094609815503.jpg" width="100%">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;">Master Coach Prof. Dr. Dev</h3>
                <p style="text-align: center;">Group Business Development Officer</p>
                <!-- <a href="#" style="margin: 20px 0; text-align: center;display: block; margin-bottom: 35px;"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a> -->
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="blank"><img src="https://destina1.com/images/g.jpg"></a>
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="new" class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-md-3 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Group Business Development Officer</h3>
                    <h3 class="heading3" style="background: none;box-shadow: none;padding: 10px 0;">Message from Master Coach Prof. Dr. Dev, </h3>
                    <p>As the Global Business Development Officer of Destina1 International, it is my great honor and privilege to serve at a platform that caters to users in over 90 countries and is licensed in 74 countries, while awaiting further global expansion into more than 30 countries within the next 24 months as at January 2019.</p>
                    <p>The purpose of life is to Serve. The Destina1 platform is about Touching Lives and Changing Lives worldwide through its futuristic products utilizing the ancient healing power of Advance Scalar Energy.</p>
                    <p>The unique concept of Health and Wealth has never been better utilized for the benefit of mankind as at Destina1.</p>
                    <p>Destina1 has a multitude of global recognition and awards in every category of the business. It has been recognized as a global market leader in its class with award winning, world class products, the winner of an award-winning Compensation Plan and world award recognition for its Founder and Group CEO, and the VP of Destina1.</p>
                    <p>Destina1 has become an international trend setter with its team of world-renowned Technology Partners and its illustrious team of international Advisory Board members.</p>
                    <p>Hundreds of thousands of testimonials in every conceivable category is a testament of its model of simplicity, effectivness and trust.</p>
                    <p>Research shows that the success of an organization is measured by the quality of its training to build its people, so the people can build the business.</p>
                    <p>The hallmark of Destina1 is its comprehensive online and offline systematic Training and Coaching using the cutting edge ‘Templates Concept’.</p>
                    <p>Choosing the right vehicle is everything in business success. In choosing the right success vehicle, I suggest that one takes a very serious view of the following:</p>
                    <ul id="no-bor">
                        <li>Is it the right company - What is its track record?</li>
                        <li>Is it the right business - Does the business make a difference in people’s lives?</li>
                        <li>Is it the right plan - Does the plan enrich the people?</li>
                        <li>Is it the right product - Does the product have an outstanding feature?</li>
                        <li>Is it the right strategy - Has the strategy been time tested for results?</li>
                        <li>Is it the right timing - Is this a Wave 4 business model?</li>
                        <li>Do the people have the right mindset - Is there a superior training model in place that transforms their Attitude and Mindset for Success?</li>
                        <li>Are they the right people - Is there a systematic process to attract, train and create the right people?</li>
                    </ul>
                    <p>The one thing that sets Destina1 apart is its USP of Creating Wealth and Giving Back to Society, which is the corner stone of every successful business in the 21st century.</p>
                    <p>There is an Economic Opportunity in the Destina1 business, which is to generate wealth for its partners. There is also the built in Social Responsibility, through its Hope For Mankind project, by giving back to society.</p>
                    <p>Destina1 being the world’s largest Social Entrepreneurship platform, is continuously Creating Wealth through Health for its partners whilst making the world a better place for all, by being a Life Changer.</p>
                    <h3 class="heading3">Chose to be A Life Changer today.</h3>
                    <h3 class="heading3">My name is Dev.</h3>
                    <h3 class="heading3">And I am a Life Changer.</h3>
                </div>
            </div>
        </div>
    </div>
</main>
