
<!-- Breadcrumb Navigation -->
<main class="container">
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item">About Destina1 International</li>
      <li class="breadcrumb-item active" aria-current="page">Our History</li>
    </ol>
  </nav>
</div>

<!-- Page Heading -->
<div class="package-content">
  <h2 class="heading1">OUR HISTORY</h2>
</div>

<!-- Banner Section -->
<div class="historybanner">
  <div class="container">
    <div class="row">
      <img src="assets/our-history.jpg" alt="History Banner">
      <!-- <div class="banner-content" style="left: 0; text-align: left; padding-left: 60px; width: 80%;">
        <h2 style="font-size: 35px;">OUR HISTORY</h2>
        <h6 style="font-weight: 400; line-height: 25px;">
          For more than 12 years Destina1 International has been helping people live better lives.
        </h6>
      </div> -->
    </div>
  </div>
</div>

<!-- History Section -->
<div class="history">
  <div class="row">
    <h2 class="heading1" style="margin: 0 auto 10px;text-align: center;">BACKGROUND & HISTORY</h2>
    <p style="width: 100%; text-align: center; margin-bottom: 30px; padding: 0 15px;">
      Destina1 International is a Malaysian company using a multi-level marketing model to sell various Advance Scalar Energised products, primarily health and beauty. Destina1 International is the World Leader in Advance Scalar Energised Products and owns the patent rights for Advance Scalar Technology globally.
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="inner-box">
        <h4>Founding and Early Years</h4>
        <p>Destina1 International was founded by Dato' Sri Dr Barani Karunakaran & Prof Dr Karunakaran in 2012. Both founders were father and son who started their business from their homes in Penang, Malaysia.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="inner-box">
        <h4>Growth and Expansion</h4>
        <p>Destina1 International experienced a substantial increase in the early years and quickly expanded its product line to include health products, beauty products, and food supplements. By 2013, Destina1 had gone international, opening markets in Australia, the UK, South Africa, Russia, Poland, and Turkey.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="inner-box">
        <h4>Global Expansion</h4>
        <p>The company became international in 2015, expanding into Asia and North America. Today, it promotes its Socia Entrepreneurship platform and Advance Scalar Energised Products in more than 78 countries worldwide.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="inner-box">
        <h4>Business Model</h4>
        <p>Destina1's business model is based on a direct sales business model. The product sales are made through traditional retail channels and are sold by independent distributors (IDs) directly to end consumers. IDs can also refer another distributor to sell Destina1 products, earning a percentage of their distributor's sales.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="inner-box">
        <h4>Products</h4>
        <p>Destina1's product line has expanded to include many goods. Their offerings include the popular D1 Advance Scalar Energised Pendant, D1 Advance Scalar Energised Alkaline Flask and Alkaline Stick, D1 Anti-Radiation Biomatrix Shield, D1 Scalarvia, D1 Scalar AFA, D1 Instant Coffee Premix 5 in 1, have become widely recognised and contributed significantly to the company's growth.</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="inner-box">
        <h4>Business Model</h4>
        <p>Destina1's business model is based on direct selling and multi-level marketing. Rather than selling products through traditional retail channels, Destina1's products are sold by Independent Distributors (IDs) directly to end consumers. IDs can also recruit others to sell Destina1 products, earning a percentage of their recruits' sales.</p>
      </div>
    </div>
  </div>
</div>
</main>