.board-members .t-right img {
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.bg-box {
    margin-top: 50px;
    margin-left: 15px;
}
.heading1 {
    font-size: 36px;
    margin-bottom: 15px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: 500;
    color: #002f5f;
}

.heading1 {
    font-size: 32px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.board-members h3 {
    font-weight: 700;
    margin-bottom: 40px;
    color: #022f60;
}
.board-members h3 {
    font-weight: 700;
    margin-bottom: 40px;
    color: #022f60;
}