
<main class="container" style="margin-top: 5rem;">
    <div class="row">
        <div class="bg-box">
            <h2 class="heading1">Group Chief Operating Officer</h2>
        </div>
    </div>

    <div class="board-members">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="https://destina1.com/images/madam-Nithya.jpg" width="100%">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;">Mdm. Nithiya Karunakaran</h3>
                <p style="text-align: center;">Director</p>
                <!-- <a href="#" style="margin: 20px 0; text-align: center;display: block; margin-bottom: 35px;"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a> -->
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="blank"><img src="assets/g.jpg"></a>
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="new" class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Group Chief Operating Officer</h3>

                    <p>Following years of strategically driving forward "healthtechnology" as one of our primary growth pillars. We succeeded in maintainingsuitable standard throughout the year as a result of adopting international qualitycontrol system by utilizing cutting edge technology and sophisticated DirectSelling software system to promote latest products embedded with Advanced ScalarTechnology.</p>
                    <p>We have adopted Blue Ocean Strategy for its business growth.The company is successful & committed in building powerful networks.Destina1 creates opportunities globally for members through its DIRECT SELLINGsystem and advanced technology. Its products are the result of comprehensiveResearch & Development in Bio Matrix Science Technology and Advance ScalarTechnology.</p>
                    <p>Moving forward, we will expand our base of new customersworldwide while continuing to improve the satisfaction of existing clients andcustomers globally by accelerating development of our technology andceaselessly improving our service, all in order to provide ever-more engrossinghealthy lifestyle & successful career growth.</p>
                    <p>The core values of Destina 1 International truly spell outthe company`s characteristics; a combination of excellent technologies andcustomers from all over the world who are using cutting- edge technology withDIRECT SELLING system that can guide distributors into building a sustainablebusiness of which they can have control on how to lead a successful life byproviding the tools that needed (such as marketing and selling material, virtualbusiness office, mobile apps, etc) every step of the way.</p>
                    <p>In closing, we can comfortably satisfy the need of differentgroups of people that we work with as mentioned above. IT IS EASY. Because Wehave the highest quality health products with cutting edge technology and sophisticateddirect selling system that forms the foundation of our company.</p>
                    <p>We ask for the continued guidance and support of ourstakeholders as we move forward.</p>
                </div>
            </div>
        </div>
    </div>
</main>
