<main class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Vision / Mission</li>
            </ol>
        </nav>
    </div>
    <div class="package-content">
        <h2 class="heading1">VISION AND MISSION</h2>
    </div>
    <div class="banner">
        <div class="container">
            <div class="row">
                <img src="https://destina1.com/images/vision-mission.png" class="img-b lazyload">
                <!--<div class="banner-content" style="width: 85%;">
                    <h2 style="font-weight: 300;">World Leader in <span style="font-weight: 700; display: block;">Uniwave Energy By Quantes Technology Products</span></h2>
                    <p>That utilises cutting-edge & sophisticated Direct Selling software systems to promote the latest products embedded with Uniwave Energy by Quantes Technology. Its energy technology, suitable for the human body's well-being, is currently marketed in more than 80 countries worldwide. </p>
                    <a class="btn-black-radius" href="#/Register" style="background: #022f60; color: #fff !important; margin: 15px 0 15px auto; width: 190px; text-align: center;">REGISTER NOW<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
                </div>-->
            </div>
        </div>
    </div>
    <section class="explore-products">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="explore-blocks" style="background: #f0f0f8; color:#4D4D51;">
                        <div class="top-content">
                            <h3 class="heading2">Our Vision</h3>
                            <p>To be a global leader in Social Entrepreneurship within the direct-selling industry to provide affordable, high-quality health and wellness solutions using Uniwave Energy By Quantes Technology by developing sustainable and professional network marketing communities worldwide.</p>
                        </div>
                        <div class="image-content">
                            <img src="assets/images/enjoying-drink.jpeg" class="lazyload">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="explore-blocks" style=" background: #f0f0ec; color: #505049;">
                        <div class="top-content">
                            <h3 class="heading2">Our Mission</h3>
                            <p>To contribute to the global community through social entrepreneurship to help Mankind. We empower individuals to achieve goals and lead better lives through the socially-driven direct selling platform with innovative health and wellness solution.</p>
                        </div>
                        <div class="image-content">
                            <img src="assets/images/hair-care.jpeg" class="lazyload">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="explore-blocks" style=" background:#f2eae6 ; color:#6F3E25 ;">
                        <div class="top-content">
                            <p>Destina 1 International adopted the Blue Ocean Strategy for its business growth. The company is successful & committed to building powerful networks. Destina1 creates opportunities globally for members through its DIRECT SELLING system and Uniwave by Quantes Technology. Its products result from comprehensive R&D in Uniwave Energy by Quantes Technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="explore-blocks" style=" background:#F8F7F7 ; color:#554949 ;">
                        <div class="top-content">
                            <p>The core values of Destina 1 International genuinely spell out the company's characteristics; a combination of excellent technologies and customers from all over the world who are using cutting-edge information with a DIRECT SELLING system to market its products. Destina 1's world-class online marketing and delivery tools utilize the latest software technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="core-values">
        <div class="container">
            <div class="text-center">
                <h2 class="heading1" style="font-weight:400;">
                    Our core <span style="font-weight: 700;">Values</span>
                </h2>
                <p>Our Motto - Destina 1 World No 1</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/Integrity.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Integrity</h3>
                                <p>We believe integrity is more than just honesty, trust is the key to success and truth is more important than money. That is why we at Destina 1 conduct and drive our business with the utmost integrity.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/Competency.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Competency</h3>
                                <p>Core ethical competencies in Social Entrepreneurs drive businesses onto a higher rate of success. This in turn, enables the Social Entrepreneurship Platform to shape the direction of the Business Industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/PowerofCompassion.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">The Power of Compassion</h3>
                                <p>The power of Compassion lays the foundation for Social Entrepreneurs to work actively towards improving the lives of others through D1’s Social Entrepreneurship platform, Hope For Mankind.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/CustomersforLife.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Customers For Life</h3>
                                <p>To earn our customer's loyalty, we must listen to them, anticipate their needs and act to create values in their eyes.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/StrivingforPerfection.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Striving for perfection</h3>
                                <p>We always seek to improve and innovate. We are here to delight our distributors and customers in everything we do. This gives us the edge.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/Serve.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Serve</h3>
                                <p>We succeed through a spirit of excellent service by exceeding our customer's expectations.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/TEAMWORK.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Teamwork</h3>
                                <p>It needs teamwork to make a company's dream work. So we work together with the goal to achieve the best for the benefits of our respected Destina 1 distributors.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/TEAM.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Just remember T.E.A.M</h3>
                                <p>Together Everyone Achieves More!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/leadership.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Leadership</h3>
                                <p>We are here to lead, to be the best, nothing less.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6"></div>
                <div class="col-lg-4 col-md-6">
                    <div class="core-blks">
                        <div class="row">
                            <div class="col-sm-12">
                                <img src="assets/images/ResultOriented.png" class="lazyload">
                            </div>
                            <div class="col-sm-12">
                                <h3 class="heading3">Results - Oriented</h3>
                                <p>We are accountable to the success of our requirements-related activities. No matter the challenges faced, we stay resolutely focused on the core principles of gaining alignment and achieving clarity. We also ensure that our efforts are consistently focused on delivering values for our major stakeholders - the company, our shareholders, distributors, customers, employees and community.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6"></div>
            </div>
        </div>
    </section>
    <div class="banner b2">
        <div class="container">
            <div class="row">
                <img src="assets/images/barani-sir2.png" class="lazyload">
                <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 100%; top:100px;">
                    <h2 style="font-size: 24px;line-height: 30px;"><i class="fa-solid fa-quote-left" style="padding-right: 15px; position: relative; top: -8px;"></i>Destina1 gives you so much for such a small amount of money each year. You have the power of a global corporation with research, design, technology, customer service and people helping you.<i class="fa-solid fa-quote-right" style="padding-left: 15px;position: relative; top: -8px;"></i></h2>
                    <h6 style="font-weight: 300;">
                        - PROF. DATO' SRI DR. BARANI KARUNAKARAN -
                        Founder Group Executive Chairman & Group CEO
                    </h6>
                </div>
            </div>
        </div>
    </div>
</main>