<main class="container">
    <div class="row">
        <div class="bg-box">
            <h2 class="heading1">Founder & Group CEO </h2>
        </div>
    </div>

    <div class="board-members">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="https://destina1.com/images/20205028125022568858.jpg" width="100%" class="lazyload">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;">Prof. Dato' Sri Dr. Barani Karunakaran</h3>
                <p style="text-align: center;">Founder & Group CEO </p>
                <a href="https://baranikarunakaran.com/" target="blank" style="color: #3b5998;font-size: 15px;text-align: center;margin-top: 10px;display: block;">https://destina1.com/images/r.jpg</a>
                <div class="disp-inline" style="text-align: center;">
                <a href="https://www.facebook.com/baranikarunakaranofficial/" class="hvr-grow" style="margin: 20px 0; text-align: center; margin-bottom: 35px;" target="blank"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a>
                
                <a href="https://destina1.com/images/logo-loader.png" class="hvr-grow" style="margin: 20px 0; text-align: center; margin-bottom: 35px;" target="blank"><img src="	https://destina1.com/images/logo-loader.pngg" class="lazyload" style="background: #111;width: 40px;height: 40px;border-radius: 50%;"></a>
                </div>
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=cL9VmfWcWis" data-fancybox="video-gallery"><img style="width: 240px;" src="https://destina1.com/images/r.jpg" class="lazyload"></a>
                    <a href="https://www.youtube.com/watch?v=cL9VmfWcWis" class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Founder & Group CEO </h3>
                    <p>I am <span style="font-weight: 600">Prof Dato' Sri Dr. Barani Karunakaran</span>, Founder & Group CEO of Destina 1 International. I am honored that you have taken the time to learn about our company D1’. I think you will find that we offer a tremendous amount of value for our members and an amazing opportunity for Optimum Energy for better life. </p>
                    <p class="skewed" style="text-align: center;transform: skewX(13deg);font-weight: 500; margin: 30px 0 60px !important;"><i class="fa-solid fa-quote-left" style="padding-right: 10px"></i>Overall, fantastic! I'd recommend them to anyone looking for a creative, thoughtful, and professional team.<i class="fa-solid fa-quote-right" style="padding-left: 10px"></i></p>
                    <h3 class="heading3" style="background:none;box-shadow: none;padding-left: 0;">Destina 1 International (“D1”) </h3>
                    <p>is a leading & innovative MLM company that puts in a lot of efforts in utilizing cutting edge & sophisticated DIRECT SELLING software system to promote latest products made with Uniwave by Quantes Technology. Its Scalar Energized Products, which are good for the well being of the body, is marketed in many countries worldwide. </p>
                    <p>I always believe that loving, caring and sharing is a way of lifestyle. One of my missions in starting D1' is to help to bring about a significant change in the lifestyles of many of our Distributors worldwide. I always get inspired each time I hear the story of a life being transformed from rags to riches. It is therefore my passion & commitment to bring the same opportunity to all our Distributors through D1' .</p>
                    <p>I will work toward satisfying the dreams of those who believe that our Vision and Mission would finally bear fruit. My ambition is to provide gainful self-employment to all our Distributors and to bring D1’ to be a World Class MLM company.</p>
                    <p>The core values of D1' spells out the characteristics of our company: it is a combination of excellent technologies and people from all over the world using cutting- edge information and MLM system technology to market our products. Our on-line marketing and delivery tools are world class and utilize the latest in software technologies.</p>
                    <p>Lastly, to all D1’s supporters, namely the staffs, members, partners and committed Distributors, my heartfelt thanks for making D1’ a possibility. On behalf of D1’, I wish that everyone involved with D1’ will continue on having the best in the MLM industry. </p>
                    <h3 class="heading3">Our corporate motto is “Destina 1’ World No.1”.</h3>
                    <h3 class="heading3">Prof. Dato' Sri Dr. Barani Karunakaran</h3>
                </div>
            </div>
        </div>
    </div>
</main>
