<main class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#/Helpcenter"> Help Center </a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders Cancellation</li>
            </ol>
        </nav>
    </div>
    <div class="package-content">
        <h2 class="heading1">ORDERS CANCELLATION</h2>
    </div>
     <div class="banner">
        <div class="container">
            <div class="row">
                <img src="https://destina1.com/images/contact-banner.png" class="img-b lazyload">
                <img src="images/mini-contact-banner.png" class="img-n lazyload">
                <!--<div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
                    <h2 style="font-size: 35px;">ORDERS CANCELLATION</h2>
                </div>-->
            </div>
        </div>
    </div>
 <div class="topic-content">
            <div class="row">
            <div class="col-lg-12">
            <p>Please be informed that we Do Not Accept cancellation for any order once payment has been made. If you have made a mistake in your order or a typo error in your details, please contact our admin at 03-58887789. The changes can be made subject to our policies and procedures. </p>
            </div>
            </div>
          </div>
         
</main>
