<main class="contain" style="margin-top: 5rem;">
    <div class="row">
        <div class="bg-box">
            <h2 class="heading1">Co-Founder & Group Vice President</h2>
        </div>
    </div>

    <div class="board-members">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <img src="https://destina1.com/images/20180328010333368967.png" width="100%">
                <h3 class="heading3" style="background: none;box-shadow: none;text-align: center;padding: 10px 0 10px;">Prof Dr. Karunakaran Dsamy</h3>
                <p style="text-align: center;">Founder Group Executive Vice Chairman & Group Vice</p>
                <!--a href="#" style="margin: 20px 0; text-align: center;display: block; margin-bottom: 35px;"><i class="fab fa-facebook-f" style="background:#3b5998;color: #fff ; border-radius: 75px;width: 40px; height: 40px; font-size: 20px;line-height: 40px;"></i></a>-->
                <div class="t-right">
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="blank"><img src="https://destina1.com/images/g.jpg"></a>
                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" target="new" class="video"></a>
                </div>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="add-padd">
                    <h3 id="space">Founder Group Executive Vice Chairman & Group Vice President</h3>
                    <h3 class="heading3" style="box-shadow: none; padding:10px 0;  background:none;">Dear All </h3>
                    <p>Destina 1 International is a truly global company and building the Next Generation for the future. We will be demonstrating the underlying strength of our business & our strategies of growth, leverage and returns. D1` over the next five years aims to be World No. 1 in Advanced Scalar Technology wellness products. D1` will continue to lead and develop leaders and guide them to become global citizens.</p>
                    <p>The difference between success and failure is simple; the one who makes it to the top is the one who lasted, pushed and survived just that little bit longer. Giving up is easier to do than holding your ground. The only difference is now I`m not going to give up when others do. There`s nothing secretive about it - it`s about being able to complete the process.</p>
                    <p>Success does not respond to wishes. It responds only to definite plans, backed by definite desires, through constant persistence, perseverance and patience.</p>
                    <p>As a businessman, I definitely agree that profit should be our driving force. But our primary purpose should be above and beyond profit. To build a better place, a better environment, a better future for our children. As business grows in DESTINA1 INTERNATIONAL, the "Hope for Mankind" will gather momentum. By building this company, I hope that we would have a vehicle to help build a better world. So, DESTINA1 INTERNATIONAL`s "Hope for Mankind" is not just a cosmetic tool to make us look better. It is to us an ultimate part of why we are in business. And eventually we hope DESTINA1 INTERNATIONAL, "Hope for Mankind" will become equal to our flagship.</p>
                    <p>We see ourselves as an International Company. We work hard to build Malaysia as a country that has an international brand appeal and people in Malaysia are global in their thinking. Our branding has always been global and with the Internet as our modality there were no barriers - currency, language, economic. Service with quality and affordability for us became our branding.</p>
                    <p>With our company slogan or motto DESTINA1 INTERNATIONAL, World No. 1 and aspiration in being the choice wellness caring company, DESTINA1 INTERNATIONAL, is continuously developing various programs that cater to all our distributors` needs.</p>
                    <p>On behalf of DESTINA1 INTERNATIONAL, I wish that everyone involved with D1` MLM business will continue to strive for a better future and a better life for the next generation.</p>
                    <h3 class="heading3">-Prof Dr. Karunakaran Dsamy</h3>
                    <h3 class="heading3">Founder Group Executive Vice Chairman & Group Vice President of  DESTINA1 INTERNATIONAL</h3>
                </div>
            </div>
        </div>
    </div>
</main>

