 <!-- <main class="container">
        <div class="row">
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Discover Health From The Inside Out</li>
                  </ol>
                </nav>
                  </div>   
        <section class="double-box">
          <div class="container">
            <div class="row">
              <div class="col-md-6 no-pad">
               <div class="img-box">
                 <img src="assets/images/happy-family.jpeg" data-src="assets/images/happy-family.jpeg" class="lazyload">
               </div>
              </div>
              <div class="col-md-6 no-pad" style="padding: 60px;background: #f0f0f4; color: #6d6d75;">
                <div class="bg-box">
                  <p>Discover Your Best Self</p>
                  <h2 class="heading1" style="font-size: 42px; line-height: 45px;">Health From the Inside Out</h2>
                  <p>Health and confidence go hand-in-hand. Discover how you can feel, look and perform your best all day long.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
       
       <section class="owl-blocks">
         <div class="container">
           <div class="row">
           <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="assets/images/1hOKcE.jpg">
        <div class="content">
        <h2 class="heading3">Scalar Products For Healthy Living</h2>
        <p>Researches shown prolonged and repeated exposure to aggressive Electro magnetic Frequencies (EMF) and Electromagnetic Radiation (EMR) causes a measurable stress response and negative shifts in the body's key energetic systems such as the bio electric field.  </p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
      <div class="item">
        <img src="assets/images/2081.jpg">
        <div class="content">
        <h2 class="heading3">Promotes Positive Flow Of Energy</h2>
        <p>D1Instant Coffee Premix 5 in 1 blended specially with coffee beans of the mostexcellent quality and other healthy ingredients with no artificial coloring and preservatives. You can enjoy the  good effects healthy ingredients could bring to your health. </p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
      <div class="item">
        <img src="assets/images/etyx0Z.jpg">
        <div class="content">
        <h2 class="heading3">Advance Scalar Energised Pendant</h2>
        <p>Advance Scalar Energised Pendant is made from natural minerals that are fused and structurally bonded together at a molecular level. It is specially embedded with scalar energy  that helps to enhance the body’s bio-electric field.</p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
      <div class="item">
        <img src="assets/images/20221.jpg">
        <div class="content">
        <h2 class="heading3">Advance Scalar Energised Alkaline Flask</h2>
        <p>Destina 1 Advance Scalar Energized Alkaline Flask turns drinking water (pH 7) into Energized Ionized Mineral Alkaline water (pH 9-10) to neutralize over acidity, detox and improves the body’s immune system.</p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
  </div>
         </div>
         </div>
       </section>
      <section class="explore-products">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="explore-blocks" style="background: #f0f0f8; color:#4D4D51;">
                <div class="top-content">
                  <h3 class="heading2">Explore Health Care</h3>
                  <p>Health is Wealth.Get the latest information on what your body needs, whether you’re taking up bodybuilding, looking for the best energy drinks, trying to manage weight or wondering how protein can fuel your personal fitness goals.</p>
                  <a href="health-care.html" style="color:#4D4D51;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/enjoying-drink.jpeg">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="explore-blocks" style=" background: #f0f0ec; color: #505049;">
                <div class="top-content">
                  <h3 class="heading2">Explore Hair Care</h3>
                  <p>Reveal your natural hair beauty with these must-have beauty products that help you create flawless styles, styling ideas from trusted experts and tips for recreating the latest trends, whether it’s a natural look or the latest styles from the red carpet.</p>
                  <a href="hair-care.html" style="color:#505049;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/hair-care.jpeg">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="explore-blocks" style=" background:#f2eae6 ; color:#6F3E25 ;">
                <div class="top-content">
                  <h3 class="heading2">Explore Skin Care</h3>
                  <p>Get tips on the best skin care products, suggestions for skin care routines that meet your needs, the latest innovations in clean skin care and other expert advice to help you on your journey to beautiful, radiant, healthy looking skin.</p>
                  <a href="skin-care.html" style="color:#6F3E25 ;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/skin-care.jpeg">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="explore-blocks" style=" background:#F8F7F7 ; color:#554949 ;">
                <div class="top-content">
                  <h3 class="heading2">Explore Personal Care</h3>
                  <p>Maintaining personal hygiene should be on everyone’s daily to-do list, but it goes beyond a list of toiletries. Get bath and body, dental health and hair care tips to present your best self every day.</p>
                  <a href="personal-care.html" style="color:#6F3E25 ;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/personal-care.jpeg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        </main>
        <section class="contact-blks">
          <div class="container-fluid">
            <div class="row">
            <div class="col-sm-4 no-gap">
              <i class="far fa-comment-dots"></i>
              <h3 class="heading2">Contact Us</h3>
              <p>Our support team is here to help by phone or email.</p>
              <a href="contact.html" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
            </div>
            <div class="col-sm-4 no-gap">
              <i class="far fa-handshake"></i>
              <h3 class="heading2">D1PROMISE</h3>
              <p>Satisfaction will always be our goal, and protection—our promise.</p>
              <a href="#" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
            </div>
            <div class="col-sm-4 no-gap">
              <i class="fas fa-rocket"></i>
              <h3 class="heading2">Start a Business</h3>
              <p>Sell quality products that people use every day.</p>
              <a href="start-a-business.html" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
            </div>
          </div>
        </div>
        </section> -->
 <main class="container">
        <div class="row">
                <nav aria-label="breadcrumb">
                   <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Discover Health From The Inside Out</li>
                  </ol>
                </nav>
                  </div>   
        <section class="double-box">
          <div class="container">
            <div class="row">
              <div class="col-md-6 no-pad">
               <div class="img-box">
                 <img src="assets/images/happy-family.jpeg" data-src="assets/images/happy-family.jpeg" class="lazyload">
               </div>
              </div>
              <div class="col-md-6 no-pad" style="padding: 60px;background: #f0f0f4; color: #6d6d75;">
                <div class="bg-box">
                  <p>Discover Your Best Self</p>
                  <h2 class="heading1" style="font-size: 42px; line-height: 45px;">Health From the Inside Out</h2>
                  <p>Health and confidence go hand-in-hand. Discover how you can feel, look and perform your best all day long.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
       
       <section class="owl-blocks">
         <div class="container">
           <div class="row">
           <div class="owl-carousel owl-theme">
      <div class="item">
        <img src="assets/images/1hOKcE.jpg">
        <div class="content">
        <h2 class="heading3">Scalar Products For Healthy Living</h2>
        <p>Researches shown prolonged and repeated exposure to aggressive Electro magnetic Frequencies (EMF) and Electromagnetic Radiation (EMR) causes a measurable stress response and negative shifts in the body's key energetic systems such as the bio electric field.  </p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
      <div class="item">
        <img src="assets/images/2081.jpg">
        <div class="content">
        <h2 class="heading3">Promotes Positive Flow Of Energy</h2>
        <p>D1Instant Coffee Premix 5 in 1 blended specially with coffee beans of the mostexcellent quality and other healthy ingredients with no artificial coloring and preservatives. You can enjoy the  good effects healthy ingredients could bring to your health. </p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
      <div class="item">
        <img src="assets/images/etyx0Z.jpg">
        <div class="content">
        <h2 class="heading3">Advance Scalar Energised Pendant</h2>
        <p>Advance Scalar Energised Pendant is made from natural minerals that are fused and structurally bonded together at a molecular level. It is specially embedded with scalar energy  that helps to enhance the body’s bio-electric field.</p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
      <div class="item">
        <img src="assets/images/20221.jpg">
        <div class="content">
        <h2 class="heading3">Advance Scalar Energised Alkaline Flask</h2>
        <p>Destina 1 Advance Scalar Energized Alkaline Flask turns drinking water (pH 7) into Energized Ionized Mineral Alkaline water (pH 9-10) to neutralize over acidity, detox and improves the body’s immune system.</p>
        <a href="#">View Product<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
      </div>
      </div>
  </div>
         </div>
         </div>
       </section>
      <section class="explore-products">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="explore-blocks" style="background: #f0f0f8; color:#4D4D51;">
                <div class="top-content">
                  <h3 class="heading2">Explore Health Care</h3>
                  <p>Health is Wealth.Get the latest information on what your body needs, whether you’re taking up bodybuilding, looking for the best energy drinks, trying to manage weight or wondering how protein can fuel your personal fitness goals.</p>
                  <a href="health-care.html" style="color:#4D4D51;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/enjoying-drink.jpeg">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="explore-blocks" style=" background: #f0f0ec; color: #505049;">
                <div class="top-content">
                  <h3 class="heading2">Explore Hair Care</h3>
                  <p>Reveal your natural hair beauty with these must-have beauty products that help you create flawless styles, styling ideas from trusted experts and tips for recreating the latest trends, whether it’s a natural look or the latest styles from the red carpet.</p>
                  <a href="hair-care.html" style="color:#505049;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/hair-care.jpeg">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="explore-blocks" style=" background:#f2eae6 ; color:#6F3E25 ;">
                <div class="top-content">
                  <h3 class="heading2">Explore Skin Care</h3>
                  <p>Get tips on the best skin care products, suggestions for skin care routines that meet your needs, the latest innovations in clean skin care and other expert advice to help you on your journey to beautiful, radiant, healthy looking skin.</p>
                  <a href="skin-care.html" style="color:#6F3E25 ;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/skin-care.jpeg">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="explore-blocks" style=" background:#F8F7F7 ; color:#554949 ;">
                <div class="top-content">
                  <h3 class="heading2">Explore Personal Care</h3>
                  <p>Maintaining personal hygiene should be on everyone’s daily to-do list, but it goes beyond a list of toiletries. Get bath and body, dental health and hair care tips to present your best self every day.</p>
                  <a href="personal-care.html" style="color:#6F3E25 ;">View Products<i class="fas fa-angle-right" style="padding-left: 7px;"></i></a>
                </div>
                <div class="image-content">
                  <img src="assets/images/personal-care.jpeg">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        </main>
        <section class="contact-blks">
          <div class="container-fluid">
            <div class="row">
            <div class="col-sm-4 no-gap">
              <i class="far fa-comment-dots"></i>
              <h3 class="heading2">Contact Us</h3>
              <p>Our support team is here to help by phone or email.</p>
              <a href="contact.html" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
            </div>
            <div class="col-sm-4 no-gap">
              <i class="far fa-handshake"></i>
              <h3 class="heading2">D1PROMISE</h3>
              <p>Satisfaction will always be our goal, and protection—our promise.</p>
              <a href="#" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
            </div>
            <div class="col-sm-4 no-gap">
              <i class="fas fa-rocket"></i>
              <h3 class="heading2">Start a Business</h3>
              <p>Sell quality products that people use every day.</p>
              <a href="start-a-business.html" class="heading3">Learn More <i class="fas fa-angle-right" style="font-size: 14px;color:#2c2c2c"></i></a>
            </div>
          </div>
        </div>
        </section>
