<!-- src/app/start-business/start-business.component.html -->
<main class="container">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/Start-Business">Start Your Own Business by Becoming a Destina1 Distributor</a></li>
        <li class="breadcrumb-item active" aria-current="page">Make Money From Home</li>
      </ol>
    </nav>
  </div>

  <div class="package-content">
    <h2 class="heading1">START A BUSINESS</h2>
  </div>

  <div class="banner">
    <div class="container">
      <div class="row">
        

        <img src='assets/start-a-business.png' class="img-b" loading="lazy" alt="Banner Image">
        <img src='https://destina1.com/images/start-a-business.png' class="img-n" loading="lazy" alt="Banner Mini">
      </div>
    </div>
  </div>

  <section class="two-boxes">
    <div class="row">
      <div class="col-lg-6 add-bor">
        <div class="content-box center-content" style="padding-right: 50px;">
          <h2 class="heading1">MAKING MONEY WITH DESTINA1</h2>
          <p>Sell quality products that people use everyday.</p>
          <p>Earn in three ways:</p>
          <ul>
            <li>Retail margin from every D1 product you sell.</li>
            <li>Bonuses are calculated from your network/business growth.</li>
            <li>Incentives are rewarded as you achieve the respective achiever level in the business.</li>
          </ul>
          <a routerLink="/Make-Money">SEE HOW TO MAKE MONEY <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img-box center-content">
          <img src="assets/images/money-making.png" loading="lazy" alt="Money Making">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 add-bor">
        <div class="img-box center-content">
          <img src="https://destina1.com/images/new-products-banner.png" loading="lazy" alt="New Products">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading1">PREMIUM QUALITY PRODUCTS</h2>
          <p>Our commitment to developing and producing quality products earned us happy customers and distributors...</p>
          <a routerLink="/Register">REGISTER TO ORDER NOW <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 add-bor">
        <div class="content-box center-content" style="padding-right: 50px;">
          <h2 class="heading1">GO FURTHER, FASTER</h2>
          <p>The collaboration between Destina1 International and Richlifes Academy...</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img-box center-content">
          <img src="assets/images/future.jpeg" loading="lazy" alt="Future">
        </div>
      </div>
    </div>
  </section>

  <div class="banner b2" style="margin-top: 40px;">
    <div class="container">
      <div class="row">
        <img src="assets/images/barani-sir2.png" class="lazyload" alt="Barani Sir">
        <div class="banner-content">
          <h2><i class="fa-solid fa-quote-left"></i>Destina1 gives you so much for such a small amount...<i class="fa-solid fa-quote-right"></i></h2>
          <h6>- PROF. DATO' SRI DR. BARANI KARUNAKARAN - Founder Group Executive Chairman & Group CEO</h6>
        </div>
      </div>
    </div>
  </div>

  <section class="two-boxes">
    <div class="row">
      <div class="col-lg-6 add-bor">
        <div class="content-box center-content" style="padding-right: 50px;">
          <h2 class="heading1">TOOLS TO MANAGE YOUR BUSINESS</h2>
          <p>Destina1 International makes it easy to work on your terms...</p>
          <a routerLink="/Register">GET STARTED TODAY <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="img-box center-content">
          <img src="assets/images/meeting.jpeg" loading="lazy" alt="Meeting">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 add-bor">
        <div class="img-box center-content">
          <img src="assets/images/d1promise.png" loading="lazy" alt="D1 Promise">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="content-box center-content" style="padding-left: 50px;">
          <h2 class="heading1">SATISFACTION GUARANTEE</h2>
          <p>Since day one, Destina1's commitment to people has been unwavering...</p>
          <a routerLink="/D1-Promise">LEARN MORE <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </section>

  <section class="start-earning">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="heading1">START EARNING EXTRA INCOME</h2>
        </div>
        <div class="col-sm-12">
          <a routerLink="/Register" class="btn-black-radius">REGISTER NOW</a>
        </div>
      </div>
    </div>
  </section>
</main>

