<main class="container">
    <section class="privacy-policy">
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">D' Video TV</li>
                    </ol>
                </nav>
            </div>
            <div class="package-content">
                <h2 class="heading1">D' Video TV</h2>
            </div>
            <div class="banner">
                <div class="container">
                    <div class="row">
                        <!-- <img src="assets/images/dvtv-banner.jpg" class="lazyload"> -->
                        <img src="assets/images/mini-dvtv-banner.png" class="img-n lazyload">
                        <img src="assets/images/d.jpg" class="lazyload">

                        <!--<div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
                            <h2 style="font-size: 35px;">EMPOWERING PEOPLE TO LIVE THEIR BEST</h2>
                            <h6 style="font-weight: 400;line-height:25px;">Millions of Destina1 Independent Representatives  worldwide contribute to our mission of helping people live better, healthier lives.</h6>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="faq-content">
                <div class="container">
                    <div class="row">
                        <div class="tabs">
                            <input id="tab1" type="radio" name="tabs" checked>
                            <label for="tab1">Beauty and Wellness</label>
                            <input id="tab2" type="radio" name="tabs">
                            <label for="tab2">Business</label>
                            <input id="tab3" type="radio" name="tabs">
                            <label for="tab3">Demo</label>
                            <input id="tab4" type="radio" name="tabs">
                            <label for="tab4">Events</label>
                            <input id="tab5" type="radio" name="tabs">
                            <label for="tab5">Hope For Mankind</label>
                            <input id="tab6" type="radio" name="tabs">
                            <label for="tab6">Lifestyle</label>
                            <input id="tab7" type="radio" name="tabs">
                            <label for="tab7">Products</label>
                            <input id="tab8" type="radio" name="tabs">
                            <label for="tab8">Training</label>
                            <div class="content">
                                <div id="content1">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=g6WuOPyE5eU" data-fancybox="video-gallery">
                                                        <img src="assets/images/a.jpg" class="video lazyload">
                                                    </a>
                                                </div>
                                                <h5>Dr Kaven London &amp; Princess Anish London</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div id="content2">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=26hYbOPO7QY" data-fancybox="video-gallery">
                                                        <img src="assets/images/b.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 is the best choice for all !!!</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=N6DQGwiSbc8" data-fancybox="video-gallery">
                                                        <img src="assets/images/c.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>About Destina 1 International</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=PTVGfkjCUfc" data-fancybox="video-gallery">
                                                        <img src="assets/images/d.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Global Recognition for Destina 1 International</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=yzE0QPeom-U" data-fancybox="video-gallery">
                                                        <img src="assets/images/e.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Welcome to Destina1 International Sdn Bhd</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=kSBBoN2_gnA" data-fancybox="video-gallery">
                                                        <img src="assets/images/f.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Philippines Business Tour &amp; Leaders meeting</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=66p9qvYQW9s" data-fancybox="video-gallery">
                                                        <img src="assets/images/g.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Global Market Promotion</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=FCb_-8cZtBI" data-fancybox="video-gallery">
                                                        <img src="assets/images/h.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Introduction to Destina 1 Virtual Business Office Mobile Apps</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=gTYWRJ5zcl0" data-fancybox="video-gallery">
                                                        <img src="assets/images/i.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>ANCE Best Leader of The Year ( Notable Leader) Chief Arul</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=vQlfx7eR82g" data-fancybox="video-gallery">
                                                        <img src="assets/images/j.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Z Radio Baguio Interview Dato sri Dr Barani Karunakaran MLM VS SCAM</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=xVuL3zv_hKo" data-fancybox="video-gallery">
                                                        <img src="assets/images/k.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Dato' Sri Dr Barani Karunakaran Lifetime Achievement Award ANCE 2019</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=GHCK63s3PNw" data-fancybox="video-gallery">
                                                        <img src="assets/images/l.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>About Uniwave by Quantes Technology</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=_hU2fKy5IMM" data-fancybox="video-gallery">
                                                        <img src="assets/images/m.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>D1 New Office Opening Announcement</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="content3">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=oLiPlpz-JRA" data-fancybox="video-gallery">
                                                        <img src="assets/images/n.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Strength, Balancing &amp; Flexibility Test</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=V50ly-Gn8_U" data-fancybox="video-gallery">
                                                        <img src="assets/images/o.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Uniwave by Quantes Technology Alkaline Water Test (Hand is on Fire)</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=qzouxYXBJU4" data-fancybox="video-gallery">
                                                        <img src="assets/images/p.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1® Uniwave by Quantes Technology Alkaline Flask ( ScalarQ Flask ) Iodine test</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=RTxr2Wou_lc" data-fancybox="video-gallery">
                                                        <img src="assets/images/q.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1® Uniwave by Quantes Technology Alkaline Flask Water Demo pH Test, Tap Water &amp; Bottled Drinks</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="content4">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=cL9VmfWcWis" data-fancybox="video-gallery">
                                                        <img src="assets/images/r.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>THE BIZZ AMEA 2019 | DESTINA 1 INTERNATIONAL WINNER OF "PEAK OF SUCCESS" AWARD</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=vFTLs6Iz43M" data-fancybox="video-gallery">
                                                        <img src="assets/images/s.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 International Winner of The Most Inspirational Company of the Year Award by Worldcob</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=bt-0rVg1lZA" data-fancybox="video-gallery">
                                                        <img src="assets/images/t.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>The Grand Inauguration of Destina 1 International Headquarters and D1 FoodBank Launching</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=hmUYntmQr7o" data-fancybox="video-gallery">
                                                        <img src="assets/images/u.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Scalarvia Launching &amp; Achiever's Recognition Luncheon</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=Z7bspY-9M0o" data-fancybox="video-gallery">
                                                        <img src="assets/images/v.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>D1 D'Achiever Recognition Nite 2020</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="content5">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=Z5-gM65z1a4" data-fancybox="video-gallery">
                                                        <img src="assets/images/w.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Charitable Activities by Hope for Mankind Foundation</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="content6">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=4EfN6sok9oM" data-fancybox="video-gallery">
                                                        <img src="assets/images/x.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina1 D'Achievers Club "WORK HARD, PLAY HARD"</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="content7">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=5YDNMdKxn10" data-fancybox="video-gallery">
                                                        <img src="assets/images/y.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>THE BIZZ AMEA 2019 | DESTINA 1 INTERNATIONAL WINNER OF "PEAK OF SUCCESS" AWARD</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=4UdbYYw-v50" data-fancybox="video-gallery">
                                                        <img src="assets/images/z.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 International Winner of The Most Inspirational Company of the Year Award by Worldcob</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=ojY3mpjuK8Y" data-fancybox="video-gallery">
                                                        <img src="assets/images/a1.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>The Grand Inauguration of Destina 1 International Headquarters and D1 FoodBank Launching</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=wAMzvlCwTKU" data-fancybox="video-gallery">
                                                        <img src="assets/images/a2.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Scalarvia Launching &amp; Achiever's Recognition Luncheon</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=Drltmqw6pBM" data-fancybox="video-gallery">
                                                        <img src="assets/images/a3.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Scalarvia Launching &amp; Achiever's Recognition Luncheon</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=Y8-bkJrNyFE" data-fancybox="video-gallery">
                                                        <img src="assets/images/a4.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Scalarvia Launching &amp; Achiever's Recognition Luncheon</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=dsFZxus43o8" data-fancybox="video-gallery">
                                                        <img src="assets/images/a5.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Scalarvia Launching &amp; Achiever's Recognition Luncheon</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=5-OPw274MR8" data-fancybox="video-gallery">
                                                        <img src="assets/images/a6.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>Destina 1 Scalarvia Launching &amp; Achiever's Recognition Luncheon</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=iMipsyLRjgk" data-fancybox="video-gallery">
                                                        <img src="assets/images/a7.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>D1 D'Achiever Recognition Nite 2020</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="content8">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=H4mP_k8gAK4" data-fancybox="video-gallery">
                                                        <img src="assets/images/a8.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>THE BIZZ AMEA 2019 | DESTINA 1 INTERNATIONAL WINNER OF "PEAK OF SUCCESS" AWARD</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=Ty-0kJFibkw" data-fancybox="video-gallery">
                                                        <img src="assets/images/a9.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>THE BIZZ AMEA 2019 | DESTINA 1 INTERNATIONAL WINNER OF "PEAK OF SUCCESS" AWARD</h5>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-6">
                                            <div class="box">
                                                <div class="t-right">
                                                    <a href="https://www.youtube.com/watch?v=r5RxStUhe0Y" data-fancybox="video-gallery">
                                                        <img src="assets/images/a10.jpg" class="lazyload">
                                                    </a>
                                                </div>
                                                <h5>D1 D'Achiever Recognition Nite 2020</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
