.heading1 {
    font-size: 32px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 700;
}
.banner:after{
    display: none;
}
    /*Tabs*/
.tabs {
    width: 100%;
    margin-top: 50px;
    text-align: left;
}
.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: .5rem 1rem;
  margin: 0 -2px;
  text-align: center;

}
.awards-item h3 span {
    display: block;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  border: 1px solid #000;
  border-width: 1px 1px 0 1px;
  background: #2c2c2c;
  color: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
.tabs #tab3:checked ~ .content #content3{
  display: block;
}
.tabs .content > div {
  display: none;
}
.faq-content .btn-link{
  text-align: left;
}
.card-body{
  line-height: 26px;
}
.card-body ul {
    margin: 10px 0;
}
.card-body ul li{
    padding-bottom: 10px;
}
.faq-content {
  padding: 0 0 80px;
}
.awards-item {
    text-align: center;
    background: #f8f8f8;
    margin-bottom: 20px;
    padding: 30px 10px;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
}
.awards-item img {
    width: 100%;
    height: 100%;
}
.awards-item h3 {
    min-height: 168px;
    margin-top: 15px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 600;
}
.img-n{
    display: none;
}
@media screen and (max-width:767px) {
    .img-b{
     display: none;
    }
    .img-n{
        display: block;
    }
    .awards-item h3{
        min-height: auto;
    }
    }
@media screen and (max-width:991px) {
   .awards-item h3 {
    min-height: auto;
    } 
}
@media screen and (max-width:767px) {
   .awards-item img {
    width: 100%;
    height: 100%;
   } 
}