
<main class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Awards</li>
            </ol>
        </nav>
    </div>
    <div class="package-content">
        <h2 class="heading1">AWARDS</h2>
    </div>
    <div class="banner">
        <div class="container">
            <div class="row">
                <img src="https://destina1.com/images/awards-banner.jpg" class="img-b" class="lazyload">
                <!--<div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
                    <h2 style="font-size: 35px;"></i>RECOGNITION REALM</h2>
                    <h6 style="font-weight: 400;line-height">Welcome to the "Recognition Realm" – a dedicated space where excellence meets acknowledgement. Dive deep into the showcasing of our international recognition and achievement. </h6>
                    <a href="#/Register" target="blank" style=" color: #fff; margin: 15px auto 15px 0;">Get Started<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
                </div>-->
            </div>
        </div>
    </div>
    <section class="awards-sec" style="padding-top: 90px;">
        <div class="container">
            <div class="row">
                <h2 class="heading1" style="margin: 0 auto 10px;">Awards</h2>
                <p style="width: 100%; text-align: center; margin-bottom: 30px;">Recognize our business achievements.</p>
            </div>
          <!---  <div class="row">
                <div class="owl-carousel owl-theme owl-loaded owl-drag">

                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-2613px, 0px, 0px); transition: all 0.25s ease 0s; width: 8587px;">
                            <div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
                                    <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Honesty Awards.png">
                                    <h3 class="heading2">Honesty Awards</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Masterclass In Direct Selling.png">
                                    <h3 class="heading2">Masterclass In Direct Selling</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Obtainer Award.jpg">
                                    <h3 class="heading2">Obtainer Award</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Peak of Success Award.png">
                                    <h3 class="heading2">Peak of Success Award</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Super Health Brand.jpg">
                                    <h3 class="heading2">Super Health Brand</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/ANC BEST MLM COMPANY AWARD.png">
                                    <h3 class="heading2">ANC BEST MLM COMPANY AWARD</h3>
                                </div>
                            </div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Asia Pacific Top CEO Awards.png">
                                    <h3 class="heading2">Asia Pacific Top CEO Awards</h3>
                                </div>
                            </div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Business Excellence Award.jpg">
                                    <h3 class="heading2">Business Excellence Award</h3>
                                </div>
                            </div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/EBA AWARDS.png">
                                    <h3 class="heading2">EBA AWARDS</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/European Business Assembly Awards.jpg">
                                    <h3 class="heading2">European Business Assembly Awards</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
                                    <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Honesty Awards.png">
                                    <h3 class="heading2">Honesty Awards</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Masterclass In Direct Selling.png">
                                    <h3 class="heading2">Masterclass In Direct Selling</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Obtainer Award.jpg">
                                    <h3 class="heading2">Obtainer Award</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Peak of Success Award.png">
                                    <h3 class="heading2">Peak of Success Award</h3>
                                </div>
                            </div><div class="owl-item" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Super Health Brand.jpg">
                                    <h3 class="heading2">Super Health Brand</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/ANC BEST MLM COMPANY AWARD.png">
                                    <h3 class="heading2">ANC BEST MLM COMPANY AWARD</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Asia Pacific Top CEO Awards.png">
                                    <h3 class="heading2">Asia Pacific Top CEO Awards</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Business Excellence Award.jpg">
                                    <h3 class="heading2">Business Excellence Award</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/EBA AWARDS.png">
                                    <h3 class="heading2">EBA AWARDS</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/European Business Assembly Awards.jpg">
                                    <h3 class="heading2">European Business Assembly Awards</h3>
                                </div>
                            </div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;">
                                <div class="item">
                                    <img src="images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
                                    <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>--->
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <div class="awards-item">
                                    <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png" class="lazyload">
                                    <h3 class="heading2" style="text-transform: uppercase;">ASIA PACIFIC ENTREPRENEUR<span style="margin-top:0;">EXCELLENCE AWARD </span><span style="margin-top:0;">EXCELLENCE PRODUCT </span><span style="display: block;">2013</span></h3>
                     </div>
                </div>
               <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Honesty Awards.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ASIA HONESTY AWARDS <span style="display: block;">2013</span></h3>
                                </div>
                            </div>
             <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Masterclass In Direct Selling.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">MASTERCLASS IN DIRECT SELLING <span style="margin-top:0;">AWARD</span> <span style="display: block;">2013 </span></h3>
                                </div>
             </div>
             <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Obtainer Award.jpg" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">OBTAINER DIRECT SELLING AWARDS <span style="margin-top:0;">BEST MLM COMPANY AWARD </span><span style="display: block;">2013</span> </h3>
                                </div>
             </div>
             <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Peak of Success Award.png" class="lazyload"> 
                                    <h3 class="heading2"  style="text-transform: uppercase;">THE WORLDBIZZ <span style="margin-top:0;">PEAK OF SUCCESS AWARDS </span><span style="display: block;">2019</span></h3>
                                </div>
             </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Super Health Brand.jpg" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ASIA PACIFIC <span style="margin-top:0;">SUPER HEALTH BRAND </span>AWARDS <span style="display: block;">2014</span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/ANC BEST MLM COMPANY AWARD.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ASIA NETWORKER CONFERENCE <span style="margin-top:0;"> BEST MLM COMPANY AWARD</span><span style="display: block;">2013</span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Asia Pacific Top CEO Awards.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ASIA PACIFIC <span style="margin-top:0;">TOP CEO AWARDS</span></h3>
                                </div>
             </div>
             <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="assets/images/Business Excellence Award.jpg" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">THE WORLDBIZZ <span style="margin-top:0;">BUSINESS EXCELLENCE AWARDS</span> <span style="display: block;">2015</span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="https://destina1.com/images/EBAA.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">EUROPEAN BUSINESS ASSEMBLY AWARDS <span style="margin-top:0;">(BEST ENTERPRISE OF THE YEAR) </span><span style="display: block;">2014</span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="https://destina1.com/images/EBBA1.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">EUROPEAN BUSINESS ASSEMBLY AWARDS <span style="margin-top:0;">(BEST MANAGER OF THE YEAR)</span> <span style="display: block;">2014</span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="https://destina1.com/images/API.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ASIA PACIFIC INTERNATIONAL <span style="margin-top:0;">HONESTY ENTERPRISE</span> KERIS AWARD <span style="margin-top:0;">(BEST MARKETING PLAN)</span><span style="display: block;">2015</span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="https://destina1.com/images/AsianNetworks.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ASIA NETWORKER CONFERENCE<span style="margin-top:0;"> BEST MLM COMPANY AWARD</span><span style="display: block;">2018</span></h3>
                                </div>
           </div>
           <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="	https://destina1.com/images/GEC.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">GLOBAL ENTREPRENEUR COUNCIL<span style="margin-top:0;"> ASIA PACIFIC BUSINESS AWARDS</span> <span style="margin-top:0;">GLOBALLY MOST TRUSTED BRAND</span> <span style="display: block;">2019 </span></h3>
                                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                                <div class="awards-item">
                                    <img src="	https://destina1.com/images/BEA.png" class="lazyload">
                                    <h3 class="heading2"  style="text-transform: uppercase;">ACQUISITION INTERNATIONAL <span style="margin-top:0;">BUSINESS EXCELLENCE AWARDS </span><span style="margin-top:0;">MOST INNOVATIVE DIRECT SELLING COMPANY</span> <span style="display: block;">2020 </span></h3>
                                </div>
             </div>
             
            </div>
        </div>
    </section>

</main>

<!-- <main class="container">
    <div class="row">
          <nav aria-label="breadcrumb">
             <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Awards</li>
            </ol>
          </nav>
            </div>
            <div class="package-content">
              <h2 class="heading1">Awards</h2>
            </div>
          <div class="banner">
            <div class="container">
              <div class="row">
                <img src="assets/images/pexels-photo-733857.jpeg">
                <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
                  <h2 style="font-size: 35px;">>REWARDING EXPERIENCES</h2>
                  <h6 style="font-weight: 400;line-height:no">Experience unforgettable Awards. Be in business for yourself, but never by yourself.</h6>
                  <a href="#" target="blank" style=" color: #fff; margin: 15px auto 15px 0;">Get Started<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
                </div>
              </div>
            </div>
          </div>
          <section class="awards-sec" style="padding-top: 90px">
 <div class="container">
   <div class="row">
     <h2 class="heading1" style="margin: 0 auto 10px;">Awards</h2>
     <p style="width: 100%; text-align: center; margin-bottom: 30px;">Recognize our business achievements.</p>
   </div>
   <div class="row">
     <div class="owl-carousel owl-theme owl-loaded owl-drag">

        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2613px, 0px, 0px); transition: all 0.25s ease 0s; width: 8587px;"><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
            <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Honesty Awards.png">
            <h3 class="heading2">Honesty Awards</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Masterclass In Direct Selling.png">
            <h3 class="heading2">Masterclass In Direct Selling</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Obtainer Award.jpg">
            <h3 class="heading2">Obtainer Award</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Peak of Success Award.png">
            <h3 class="heading2">Peak of Success Award</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
           <img src="assets/images/Super Health Brand.jpg"> 
           <h3 class="heading2">Super Health Brand</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/ANC BEST MLM COMPANY AWARD.png">
            <h3 class="heading2">ANC BEST MLM COMPANY AWARD</h3>
          </div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Asia Pacific Top CEO Awards.png">
            <h3 class="heading2">Asia Pacific Top CEO Awards</h3>
          </div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Business Excellence Award.jpg">
            <h3 class="heading2">Business Excellence Award</h3>
          </div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/EBA AWARDS.png">
            <h3 class="heading2">EBA AWARDS</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/European Business Assembly Awards.jpg">
            <h3 class="heading2">European Business Assembly Awards</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
            <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Honesty Awards.png">
            <h3 class="heading2">Honesty Awards</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Masterclass In Direct Selling.png">
            <h3 class="heading2">Masterclass In Direct Selling</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Obtainer Award.jpg">
            <h3 class="heading2">Obtainer Award</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Peak of Success Award.png">
            <h3 class="heading2">Peak of Success Award</h3>
          </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
           <img src="assets/images/Super Health Brand.jpg"> 
           <h3 class="heading2">Super Health Brand</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/ANC BEST MLM COMPANY AWARD.png">
            <h3 class="heading2">ANC BEST MLM COMPANY AWARD</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Asia Pacific Top CEO Awards.png">
            <h3 class="heading2">Asia Pacific Top CEO Awards</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Business Excellence Award.jpg">
            <h3 class="heading2">Business Excellence Award</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/EBA AWARDS.png">
            <h3 class="heading2">EBA AWARDS</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/European Business Assembly Awards.jpg">
            <h3 class="heading2">European Business Assembly Awards</h3>
          </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
            <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
            <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
          </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
             </div>
                  </div>
          </section>
                    
             <div class="banner">
                      <div class="container">
                        <div class="row">
                          <img src="assets/images/barani-sir2.png">
                          <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 100%; top:100px;">
                            <h2 style="font-size: 24px;line-height: 30px;"><i class="fa-solid fa-quote-left" style="padding-right: 15px; position: relative; top: -8px;"></i>Everybody here earned their way with hard work, determination, and focus on the fundamentals.<i class="fa-solid fa-quote-right" style="padding-left: 15px;position: relative; top: -8px;"></i></h2>
                            <h6 style="font-weight: 300;">- PROF. DATO' SRI DR. BARANI KARUNAKARAN -
          Founder Group Executive Chairman &amp; Group CEO </h6>
                          </div>
                        </div>
                      </div>
                    </div>       
                   
            <div class="paragraph-note">
              <div class="container">
                <div class="row">
                  <p>IBOs must be in compliance at all times with the Destina1 IBO Compensation Plan, Quality Assurance Standards and the IBO Rules of Conduct to keep their invitation to Amway incentive trips.</p>
                  <ul>
                    <li>For the calendar year 2021, the average income from Destina1 for all U.S. registered IBOs at the Founders Platinum level and below was $766 before expenses.</li>
                    <li>See destina1.com/income-disclosure for details. Earnings depend on many factors, including: customer base, business experience, effort, dedication, and quality and performance of an IBO’s sales team.</li>
                    <li>Following are the approximate percentages of U.S. registered IBOs who achieved the illustrated results in the calendar year 2021: New Platinum Conference 0.0642%; Achievers Invitational 0.5107%; Diamond Club 0.0271%; Diamond Select 0.0123%; NAGC 0.0086%</li>
                  </ul>
                </div>
              </div>
            </div>        
            </main>
           
           -->
           <!-- <main class="container">

            <div class="row">
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Awards</li>
                    </ol>
                  </nav>
                    </div>
                    <div class="package-content">
                      <h2 class="heading1">Awards</h2>
                    </div>
                  <div class="banner">
                    <div class="container">
                      <div class="row">
                        <img src="assets/images/pexels-photo-733857.jpeg">
                        <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 60%;">
                          <h2 style="font-size: 35px;">REWARDING EXPERIENCES</h2>
                          <h6 style="font-weight: 400">Experience unforgettable Awards. Be in business for yourself, but never by yourself.</h6>
                          <a href="#" target="blank">Get Started<i class="fas fa-angle-right" style="padding-left: 6px;"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <section class="awards-sec" style="padding-top: 90px">
         <div class="container">
           <div class="row">
             <h2 class="heading1" style="margin: 0 auto 10px;">Awards</h2>
             <p style="width: 100%; text-align: center; margin-bottom: 30px;">Recognize our business achievements.</p>
           </div>
           <div class="row">
             <div class="owl-carousel owl-theme owl-loaded owl-drag">
        
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2613px, 0px, 0px); transition: all 0.25s ease 0s; width: 8587px;"><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
          <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Honesty Awards.png">
          <h3 class="heading2">Honesty Awards</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Masterclass In Direct Selling.png">
          <h3 class="heading2">Masterclass In Direct Selling</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Obtainer Award.jpg">
          <h3 class="heading2">Obtainer Award</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Peak of Success Award.png">
          <h3 class="heading2">Peak of Success Award</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
         <img src="assets/images/Super Health Brand.jpg"> 
         <h3 class="heading2">Super Health Brand</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/ANC BEST MLM COMPANY AWARD.png">
          <h3 class="heading2">ANC BEST MLM COMPANY AWARD</h3>
        </div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Asia Pacific Top CEO Awards.png">
          <h3 class="heading2">Asia Pacific Top CEO Awards</h3>
        </div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="images/Business Excellence Award.jpg">
          <h3 class="assets/heading2">Business Excellence Award</h3>
        </div></div><div class="owl-item active" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/EBA AWARDS.png">
          <h3 class="heading2">EBA AWARDS</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/European Business Assembly Awards.jpg">
          <h3 class="heading2">European Business Assembly Awards</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
          <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Honesty Awards.png">
          <h3 class="heading2">Honesty Awards</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Masterclass In Direct Selling.png">
          <h3 class="heading2">Masterclass In Direct Selling</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Obtainer Award.jpg">
          <h3 class="heading2">Obtainer Award</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Peak of Success Award.png">
          <h3 class="heading2">Peak of Success Award</h3>
        </div></div><div class="owl-item" style="width: 363.333px; margin-right: 10px;"><div class="item">
         <img src="assets/images/Super Health Brand.jpg"> 
         <h3 class="heading2">Super Health Brand</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/ANC BEST MLM COMPANY AWARD.png">
          <h3 class="heading2">ANC BEST MLM COMPANY AWARD</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Asia Pacific Top CEO Awards.png">
          <h3 class="heading2">Asia Pacific Top CEO Awards</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Business Excellence Award.jpg">
          <h3 class="heading2">Business Excellence Award</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/EBA AWARDS.png">
          <h3 class="heading2">EBA AWARDS</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/European Business Assembly Awards.jpg">
          <h3 class="heading2">European Business Assembly Awards</h3>
        </div></div><div class="owl-item cloned" style="width: 363.333px; margin-right: 10px;"><div class="item">
          <img src="assets/images/Excellence Product_Eng-(2023)-OL-01 EDITED.png">
          <h3 class="heading2">Excellence Product_Eng-(2023)-OL-01</h3>
        </div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
           </div>
                </div>
        </section>
                  
           <div class="banner">
                    <div class="container">
                      <div class="row">
                        <img src="assets/images/barani-sir2.png">
                        <div class="banner-content" style="left: 0;text-align: left;padding-left: 60px; width: 100%; top:100px;">
                          <h2 style="font-size: 24px;line-height: 30px;"><i class="fa-solid fa-quote-left" style="padding-right: 15px; position: relative; top: -8px;"></i>Everybody here earned their way with hard work, determination, and focus on the fundamentals.<i class="fa-solid fa-quote-right" style="padding-left: 15px;position: relative; top: -8px;"></i></h2>
                          <h6 style="font-weight: 300;">- PROF. DATO' SRI DR. BARANI KARUNAKARAN -
    Founder Group Executive Chairman &amp; Group CEO </h6>
                        </div>
                      </div>
                    </div>
                  </div>       
                 
          <div class="paragraph-note">
            <div class="container">
              <div class="row">
                <p>IBOs must be in compliance at all times with the Destina1 IBO Compensation Plan, Quality Assurance Standards and the IBO Rules of Conduct to keep their invitation to Amway incentive trips.</p>
                <ul>
                  <li>For the calendar year 2021, the average income from Destina1 for all U.S. registered IBOs at the Founders Platinum level and below was $766 before expenses.</li>
                  <li>See destina1.com/income-disclosure for details. Earnings depend on many factors, including: customer base, business experience, effort, dedication, and quality and performance of an IBO’s sales team.</li>
                  <li>Following are the approximate percentages of U.S. registered IBOs who achieved the illustrated results in the calendar year 2021: New Platinum Conference 0.0642%; Achievers Invitational 0.5107%; Diamond Club 0.0271%; Diamond Select 0.0123%; NAGC 0.0086%</li>
                </ul>
              </div>
            </div>
          </div>        
          </main> -->