<main class="container-fluid">
  <div class="row">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/home">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a href="#">Quantes Technology</a>
        </li>
      </ol>
    </nav>
  </div>

  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <img src="assets/images/QuantesTechBanner.png" style="width: 100%;" alt="Quantes Technology Banner" />
      </div>
    </div>
  </div>

  <div class="bg-grey text-center p-4">
    <img src="assets/images/" alt="Nature and Science" />
    <h2 class="heading1">NATURE AND SCIENCE IN PERFECT HARMONY</h2>
    <p>
      Nutrilite™ vitamins and supplements harness the power of nature and science, all the way from seed to supplement, providing an array of supplements for a range of needs, including general nutrition, weight management and children’s nutrition.
    </p>
    <a href="#" class="btn btn-primary">DISCOVER</a>
  </div>
</main>

